<h1>Listing textbooks</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @textbooks.each do |textbook| %>
      <tr>
        <td><%= image_tag textbook.image.url(:thumb) %></td>
        <td><%= textbook.Title %></td>
        <td><%= textbook.Description %></td>
        <td><%= textbook.user.email if textbook.user %></td>
        <td><%= link_to 'Show', textbook %></td>
        <% if textbook.user == current_user %>
          <td><%= link_to 'Edit', edit_textbook_path(textbook) %></td>
          <td><%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Textbook', new_textbook_path %>
<% end %>