<% if user_signed_in? %>
  <%= link_to 'New Textbook', new_textbook_path %>
<% end %>

<div id="textbooks" class="transitions-enabled">
  <% @textbooks.each do |textbook| %>
    <div class="box panel panel-default">
      <%= image_tag textbook.image.url(:thumb) %>
      <div class="panel-body">
        <%= textbook.Title %>
        <%= textbook.Description %>
        <%= textbook.user.email if textbook.user %>
        <%= link_to 'Show', textbook %>
        <% if textbook.user == current_user %>
          <%= link_to 'Edit', edit_textbook_path(textbook) %>
          <%= link_to 'Destroy', textbook, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>