<%= render 'pages/home' %>

<% if user_signed_in? %>
  <%= link_to new_textbook_path, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus"></span> New tekstboox
  <% end %>
<% end %>

<div id="textbooks" class="transitions-enabled">
  <% @textbooks.each do |textbook| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(textbook.image.url(:medium)), textbook %>
      <div class="panel-body">
        <strong><%= textbook.Title %></strong><br/>
        <% if textbook.user == current_user %>
          <div class="actions">
            <%= link_to edit_textbook_path(textbook) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to textbook, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>